* text=auto

*.c text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.docx binary
*.pptx binary
